@font-face {
    font-family: "OpenSans";
    src: url("OpenSans.ttf");
}

@font-face {
    font-family: "Calligraffitti";
    src: url("Calligraffitti.ttf");
}

html {
    font-family: "Open Sans", sans-serif;
  }

h2 {
    font-family: "Calligraffitti", cursive;
  }

body {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("water.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;

}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    line-height: 20px;
    color: purple;
}

a:link {
    color: blue);
}
a:visited {
    color: red;
    text-decoration: underline;
}
a:hover {
    color: powderblue;
    background: #800;
}
a:active {
    color: green;
}

q {
    width: 50%;
    margin: 0 auto;
    color: rgb(47, 0, 255);
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 160%;
    background-color: rgb(204, 199, 199);
    border-left: 3px solid brown;
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style: italic;
}

.V {
    border-left-color: purple;
}

.F {
    border-left-color: yellow;
}

header blockquote:first-child {
    background-color: yellow;
    display: block;
}

.bien {
    text-transform: uppercase;
    color: green;
}

.mal {
    text-transform: uppercase;
    color: red;
}

table {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:50%;
    }

.black {
    background-color: black;
    color: white
}
.white {
    background-color: white;
}


td { 
    border-width:1px;
    border-style:solid; 
    border-color: grey;
    width:50%;
    }

.ok {
    background-image: url("bien.png");
    background-position: center;
    padding-right: 10%;
    height: 50px;
    width: 50%;
    display: block;
    background-repeat: no-repeat;
}

.pasok {
    background-image: url("mal.png");
    background-position: center;
    padding-right: 10%;
    height: 50px;
    width: 50%;
    display: block;
    background-repeat: no-repeat;
}

.chat {
    background-image: url("chat.png");
    background-position: center;
    padding-right: 10%;
    height: 50px;
    width: 50%;
    display: block;
    background-repeat: no-repeat;
}

p:first-of-type {
    font-weight: bold;
}

.first {
    float:right;
    margin-right: 0px;
}

.second {
    float: left;
    margin-left: auto;
}



